<div class="company-sidebar-container">
  <div class="company-sidebar-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">{{ model.id ? 'Edit Company' : 'New Company' }}</h5>

    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="closeCompanySidebar()">
      ×
    </button>
  </div>

  <div class="company-sidebar-body">
   <form #companyForm="ngForm" (ngSubmit)="submit(companyForm)">
  <div class="form-group">
    <label class="form-label">Company Code</label>
    <input type="text" class="form-control" name="companyCode" [(ngModel)]="model.companyCode" required />
  </div>

  <div class="form-group">
    <label class="form-label">Company Name</label>
    <input type="text" class="form-control" name="companyName" [(ngModel)]="model.companyName" required />
  </div>

 

  <div class="form-group">
    <label class="form-label">Contact Person</label>
   <input
  type="text"
  class="form-control"
  name="contactPerson"
  [(ngModel)]="model.contactPerson"
  [readonly]="!!model.id"
/>
  </div>
 <div class="form-group">
    <label class="form-label">Contact Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required />
  </div>
    <div class="form-group" *ngIf="!model.id">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required />
  </div>
  <div class="form-group">
    <label class="form-label">Contact No</label>
    <input type="text" class="form-control" name="contactNo" [(ngModel)]="model.contactNo" />
  </div>





  <div class="form-group">
    <label class="form-label">Locations</label>
    <ng-select
      [items]="locationList"
      bindLabel="locationName"
      bindValue="id"
      [multiple]="true"
      [closeOnSelect]="false"
      name="locationIds"
      [(ngModel)]="model.locationIds">
    </ng-select>
  </div>

  <div class="form-group">
    <label class="form-label">Sessions</label>
    <ng-select
      [items]="sessionList"
      bindLabel="sessionName"
      bindValue="id"
      [multiple]="true"
      [closeOnSelect]="false"
      name="sessionIds"
      [(ngModel)]="model.sessionIds">
    </ng-select>
  </div>

  <div class="form-group">
    <label class="form-label">Items / Cuisines</label>
    <ng-select
      [items]="cuisineList"
      bindLabel="cuisineName"
      bindValue="id"
      [multiple]="true"
      [closeOnSelect]="false"
      name="cuisineIds"
      [(ngModel)]="model.cuisineIds">
    </ng-select>
  </div>
  <div class="form-group">
    <label class="form-label">Address</label>
    <textarea class="form-control" name="addressLine1" [(ngModel)]="model.addressLine1"></textarea>
  </div>

  <div class="d-flex mt-2">
    <button type="submit" class="btn btn-primary mr-1">
      {{ model.id ? 'Update' : 'Submit' }}
    </button>

    <button type="button" class="btn btn-outline-secondary" (click)="closeCompanySidebar()">
      Cancel
    </button>
  </div>
</form>
  </div>
</div>