<div class="top-company-widget">
  <div class="widget-header">
    <div class="widget-title-wrap">
      <div class="widget-icon">
        <i data-feather="bar-chart-2"></i>
      </div>
      <div>
        <h3>Top Company Performance</h3>
        <p>Top companies by total orders</p>
      </div>
    </div>
  </div>

  <div class="company-split-grid">

  <!-- LEFT SIDE -->
  <div class="company-column">
    <div class="company-card"
         *ngFor="let item of leftCompanies"
         [ngClass]="item.cardClass">

      <div class="company-card-top">
        <div class="company-left">
          <div class="company-avatar" [ngClass]="item.avatarClass">
            {{ getInitials(item.name) }}
          </div>

          <div class="company-text">
            <h4>{{ item.name }}</h4>
            <span>{{ item.orders }} Orders</span>
          </div>
        </div>

      
      </div>

      <!-- <div class="company-card-body">
        <div class="orders-value">{{ item.orders }}</div>

       
      </div> -->
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="company-column">
    <div class="company-card"
         *ngFor="let item of rightCompanies"
         [ngClass]="item.cardClass">

      <div class="company-card-top">
        <div class="company-left">
          <div class="company-avatar" [ngClass]="item.avatarClass">
            {{ getInitials(item.name) }}
          </div>

          <div class="company-text">
            <h4>{{ item.name }}</h4>
            <span>{{ item.orders }} Orders</span>
          </div>
        </div>

       
      </div>

      <!-- <div class="company-card-body">
        <div class="orders-value">{{ item.orders }}</div>

       
      </div> -->
    </div>
  </div>

</div>
</div>