<!-- Menu header -->
<div class="navbar-header">
  <div class="header-row">
    <a class="navbar-brand" [routerLink]="['/']">
      <span class="brand-logo">
        <img [src]="coreConfig.app.appLogoImage" alt="brand-logo" />
      </span>
      <h2 class="brand-text mb-0">{{ coreConfig.app.appName }}</h2>
    </a>

    <div class="nav-toggle">
      <a
        class="nav-link modern-nav-toggle desktop-toggle"
        (click)="toggleSidebarCollapsible()"
      >
        <i
          [ngClass]="isCollapsed ? 'icon-circle' : 'icon-disc'"
          class="toggle-icon feather font-medium-4 text-primary"
        ></i>
      </a>
    </div>
  </div>
</div>
<!--/ Menu header -->

<div class="shadow-bottom" [ngClass]="{ 'd-block': isScrolled }"></div>

<div class="main-menu-content" [perfectScrollbar] (scroll)="onSidebarScroll()">
  <ul class="navigation navigation-main" layout="vertical" core-menu></ul>
</div>