<!-- Menu header -->
<div class="navbar-header">
  <div class="header-row">
    <a class="navbar-brand" [routerLink]="['/']">
      <span class="brand-logo">
        <img [src]="coreConfig.app.appLogoImage" alt="brand-logo" />
      </span>
      <h2 class="brand-text mb-0">{{ coreConfig.app.appName }}</h2>
    </a>

    <div class="nav-toggle">
      <a
        class="nav-link modern-nav-toggle desktop-toggle"
        (click)="toggleSidebarCollapsible()"
      >
        <i
          [ngClass]="isCollapsed ? 'icon-circle' : 'icon-disc'"
          class="toggle-icon feather font-medium-4 text-primary"
        ></i>
      </a>
    </div>
  </div>
</div>
<!--/ Menu header -->

<div class="shadow-bottom" [ngClass]="{ 'd-block': isScrolled }"></div>

<div class="menu-wrapper">
  <div class="main-menu-content" [perfectScrollbar] (scroll)="onSidebarScroll()">
    <ul class="navigation navigation-main" layout="vertical" core-menu></ul>
  </div>

  <div class="sidebar-support-card" *ngIf="!isCollapsed">
    <div class="support-card-header clickable" (click)="toggleSupportCard()">
      <div class="support-title-wrap">
        <span class="support-icon-wrap">
          <i data-feather="user" class="support-icon"></i>
        </span>
        <span class="support-toggle-text">Support Info</span>
      </div>

      <span class="support-chevron-wrap">
        <i
          [attr.data-feather]="isSupportExpanded ? 'chevron-up' : 'chevron-down'"
          class="support-toggle-icon"
        ></i>
      </span>
    </div>

    <div class="support-card-body" *ngIf="isSupportExpanded">
      <div class="support-item">
        <div class="support-label">Office Hours</div>
        <div class="support-value">9.00 AM to 5.00 PM</div>
      </div>

      <div class="support-item">
        <div class="support-label">Contact Person</div>
        <div class="support-value">Mr. Suriya / Ms. Vimala</div>
      </div>

      <div class="support-item">
        <div class="support-label">Contact No</div>
        <div class="support-value">6369 9660 / 9783 9069</div>
      </div>
    </div>
  </div>
</div>