<div class="price-list-page">
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <section class="users-list-wrapper">
        <div class="card">
          <h4 class="card-title-text">
            Price List
          </h4>

          <div class="row top-control-row">
            <div class="col-md-4 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center mb-0">
                  Show
                  <select class="form-control mx-25 page-size-select" [(ngModel)]="page.size" (change)="onPageSizeChange()">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>

            <div class="col-md-8 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0 flex-wrap">
                <label class="d-flex align-items-center ml-1 ml-md-0 mb-0">
                  Search:
                  <input
                    type="search"
                    class="form-control ml-25 search-box"
                    placeholder="Company / Session / Cuisine"
                    [(ngModel)]="searchText"
                    (input)="applyFilters()"
                  />
                </label>

              
                <button
                  type="button"
                  class="btn btn-primary ml-1"
                  rippleEffect
                  (click)="onAddPrice()"
                >
                  <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i>
                  <span class="d-none d-sm-inline-block">Add Price</span>
                </button>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap core-bootstrap price-datatable"
            [rows]="pagedRows"
            [rowHeight]="50"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [limit]="page.size"
            [count]="filteredRows.length"
            [offset]="page.pageNumber"
            [externalPaging]="true"
            [scrollbarH]="false"
            (page)="onPageChange($event)"
          >
            

            <ngx-datatable-column name="Company" prop="companyName" [width]="250"></ngx-datatable-column>

            <ngx-datatable-column name="Session" prop="sessionName"></ngx-datatable-column>

           

            <ngx-datatable-column name="Rate" prop="rate">
              <ng-template let-row="row" ngx-datatable-cell-template>
                S$ {{ row.rate | number:'1.2-2' }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Effective From" prop="effectiveFrom">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.effectiveFrom | date:'dd-MM-yyyy' }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions" [width]="80" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="action-btn-group">
                  <button
                    type="button"
                    class="btn btn-outline-primary action-icon-btn"
                    title="Edit"
                    (click)="editPrice(row)"
                  >
                    <i class="fas fa-pen action-icon"></i>
                  </button>

                 
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

          <div *ngIf="!pagedRows || pagedRows.length === 0" class="no-data-found">
            No price records found.
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
